header{
    border-radius: 24px;
    background-color: black;
    height: 150px;
    padding: 12px;
}

.logo{
    height: 150px;
    border-radius: 24px;
}

.navigazione{
    width: 100px;
    display:inline-block;
    font-size: x-large;
    background-color: rgb(255, 255, 255);
    color: black;
    padding: 8px;
    border-radius: 24px;
    
}

.head-1{
    display: inline;
    width: 750px;
} 

.head-2{
    background-color: aquamarine;
    display: inline;
    position: relative;
    left: 200px;
    bottom: 50px;
} 