header, footer{
    border-radius: 24px;
    background-image: url(https://wallpapers.com/images/hd/plain-black-desktop-2560-x-1440-x4t6uy65mhmvogp5.jpg);
    height: 150px;
    width: 1650px;
    padding: 12px;
    overflow: hidden;
}

.logo{
    height: 150px;
    border-radius: 24px;
}

.nome{
    color: red;
    font-size: xx-large;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
}

.navigazione{
    display:inline;
    font-size: xx-large;
    background-color: rgb(255, 255, 255);
    color: black;
    padding: 8px;
    border-radius: 24px;
    margin: 0px 30px;
}

.head-1{
    display: inline;
    position: relative;
} 

.head-2{
    width: 800px;
    position: absolute;
    left: 200px;
    bottom: 50px;
} 

.head-3{
    width: 400px;
    position: absolute;
    left: 1200px;
    bottom: 25px;
}

.foot{
    display: inline;
    font-size: x-large;
    color:rgb(255, 255, 255);
}

.social{
    display: inline;
    width: 600px;
    height: 100px;
    padding-top: 40px;
    position: absolute;
    left: 1400px;
}

.dv-1{
    height: 600px;
}
.dv-2{
    height: 600px;
}
.dv-3{
    height: 600px;
}
.dv-4{
    height: 600px;
}
.dv-5{
    height: 100px;
    background-color:rgba(225, 216, 206, 0.906);
    border-radius: 24px;
}

.titolo1{
    font-size: xx-large;
    color: rgb(32, 3, 3);
    display: inline;
    padding:50px;
    margin-left: 400px;
}
.titolo2{
    font-size: xx-large;
    color: rgba(32, 3, 3, 0.582);
    display: inline;
    padding:50px;
}

.menu{
    padding-left:200px;
    padding-top:40px
}

.menu-t{
    padding-left:260px;
    padding-top:25px;
    font-size: x-large;
}
.menu-t1{
    padding-left:290px;
    padding-top:4px;
    font-size: x-large;
}